header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px;
  color: white;
  z-index: 1;
  background: #d34d1d; }
  header #title {
    position: relative;
    top: -15px;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase; }
  header nav {
    display: inline-block;
    position: relative;
    top: -15px;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase; }
    header nav a {
      text-decoration: none;
      color: white; }
      header nav a:hover {
        text-decoration: none; }
      header nav a:visited {
        text-decoration: none;
        color: white; }

#download-btn {
  position: relative;
  margin: 20px auto;
  text-align: center;
  width: 150px;
  color: white;
  border: 1px solid white;
  border-radius: 6px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: #d34d1d;
  margin-bottom: 30px;
  -webkit-transition: background 0.2s;
          transition: background 0.2s; }
  #download-btn:hover {
    background: #bb4419; }

div#content {
  position: relative;
  min-height: 100%;
  width: 80%;
  margin: 150px auto;
  margin-bottom: 0px; }

#components {
  min-height: 100%;
  margin-bottom: 20px; }

.component {
  margin: 10px;
  font-size: 20px;
  -webkit-transition: all 0.2s;
          transition: all 0.2s; }
  .component:nth-child(1) {
    color: #d34d1d; }

select {
  display: none;
  background: white; }

#tutorial {
  width: 100%;
  padding: 30px 60px;
  background: #d34d1d;
  color: white; }

code {
  display: block;
  background: #bb4419;
  text-align: left;
  padding: 20px; }

footer {
  margin: 20px 10px;
  text-align: center; }

.css-anchor {
  margin-left: 5px;
  color: white;
  font-size: 10px;
  text-decoration: none;
  padding: 5px;
  background: #d34d1d;
  border-radius: 3px; }

.readme-anchor {
  text-decoration: none;
  color: #d34d1d;
  font-size: 20px; }
  .readme-anchor:hover {
    text-decoration: none; }
  .readme-anchor:visited {
    text-decoration: none;
    color: #d34d1d; }

.name-tag {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
