$orange: #d34d1d;
$darkOrange: #bb4419;
$white: #fff;
$grey: #e0e0e0;

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px;
  color: $white;

  z-index: 1;
  background: $orange;

  #title {
    position: relative;
    top: -15px;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
  }

  nav {
    display: inline-block;
    position: relative;
    top: -15px;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;

    a {
      text-decoration: none;
      color: $white;

      &:hover {
        text-decoration: none;
      }

      &:visited {
        text-decoration: none;
        color: $white;
      }
    }
  }

}

#download-btn {
  position: relative;
  margin: 20px auto;
  text-align: center;
  width: 150px;
  color: $white;
  border: 1px solid $white;
  border-radius: 6px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  cursor: pointer;
  user-select: none;
  background: $orange;
  background-image: linear-gradient(to bottom, $orange, $darkOrange);
  margin-bottom: 30px;
  transition: background 0.2s;

  &:hover {
    background: $orange;
  }
}

div#content {
  position: relative;
  min-height: 100%;
  width: 80%;
  margin: 150px auto;
  margin-bottom: 0px;

}

#components {
  background: $grey;
  border-radius: 6px;
  padding: 20px;
  min-height: 100%;
  margin-bottom: 20px;
}

.component {
  margin: 10px;
  font-size: 20px;
  transition: all 0.2s;

  // &:hover {
  //   background: $orange;
  //   color: $white;
  //   padding: 10px;

  //   select {
  //     color: #000;
  //   }
  // }

  &:nth-child(1) {
    color: $orange;

    // &:hover {
    //   background: $orange;
    //   color: $white;
    //   padding: 10px;

    //   select {
    //     color: #000;
    //   }
    // }

  }
}

select {
  display: none;
  background: $white;
}

#tutorial {
  width: 100%;
  padding: 30px 60px;
  background: $orange;
  color: $white;
}

code {
  display: block;
  background: $darkOrange;
  text-align: left;
  padding: 20px;
}

footer {
  margin: 20px 10px;
  text-align: center;
}

.css-anchor {
  margin-left: 5px;
  color: $white;
  font-size: 10px;
  text-decoration: none;
  padding: 5px;
  background: $orange;
  border-radius: 3px;
}

// .right-float {
//   float: right;
// }

.readme-anchor {
  text-decoration: none;
  color: $orange;
  font-size: 20px;

  &:hover {
    text-decoration: none;
  }

  &:visited {
    text-decoration: none;
    color: $orange;
  }
}

.name-tag {
  cursor: pointer;
  user-select: none;
}

#starter-btn {
  position: relative;
  display: block;
  text-align: center;
  width: 300px;
  text-transform: uppercase;
  background: $orange;
  background-image: linear-gradient(to bottom, $orange, $darkOrange);
  padding: 10px;
  border-radius: 3px;
  color: $white;
  margin: 20px auto;
  text-decoration: none;

  transition: background 0.2s;

  &:hover {
    background: $orange;
    text-decoration: none;
  }
}